## 데이터 확인

In [2]:
import pandas as pd

activecop = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\액티브 중소법인 재무보유.xlsx")
closecop = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\휴폐업 중소법인 재무보유.xlsx")

#activecop.head()
closecop.head()

,BIZ_NO,CMP_PFIX_NM,CMP_NM,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,MDSCO_PRTC_YN,HDOF_CMP_CD,ESTB_DATE,ESTB_GB,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT
0,1268145633,(주),용진테크,NaN,"Yongjin Tech Co., Ltd.",M,2,2,1,1,...,N,NaN,20000529.0,1,NaN,자동차부품 제조판매업,NaN,www.yongjintech.com,안상동,40.0
1,1388101749,NaN,신구건설,(주),"SHINKU C0NSTRUCTION CO.,LTD.",M,2,2,1,1,...,N,NaN,19850110.0,1,NaN,건축자재 판매업,NaN,www.shinku.co.kr,소재필,13.0
2,1068179240,(주),석정미디어,NaN,sung jung,M,2,2,1,1,...,N,NaN,19990601.0,1,NaN,"토너, 잉크, 프린터 외 컴퓨터 관련 주변기기",NaN,NaN,이상호,1.0
3,2248114507,(주),새한실업,NaN,"SAEHAN INDUSTRY CO.,LTD.",M,2,2,1,1,...,N,NaN,19980522.0,1,NaN,금속 캔 및 기타 포장용기 제조업,NaN,NaN,김정남외 1명,6.0
4,1168132785,(주),석영엔터프라이즈,NaN,"Seokyoung Enterprise Co.,Ltd.",M,2,2,1,1,...,N,NaN,19930226.0,1,NaN,스마트트레이 외,NaN,www.systeel.co.kr,박성진,40.0

In [3]:
import pandas as pd
finance = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\재무데이터.xlsx")
finance.head()

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,비유동부채비율(%),부채총계대 매출액(%),총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산
0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,87.841,250.381,0.163,1.000000e+12,44.062,1.000000e+12,NaN,NaN,NaN,NaN
1,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,25.500,241.400,0.184,1.000000e+12,59.092,NaN,NaN,NaN,NaN,NaN
2,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,...,63.921,275.719,0.154,1.000000e+12,68.714,1.000000e+12,NaN,NaN,NaN,NaN
3,1018100340,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,...,20.495,233.749,0.156,1.000000e+12,34.979,1.000000e+12,3243.0,NaN,NaN,NaN
4,1018100772,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,...,170.151,1250.082,0.055,1.000000e+12,69.711,1.000000e+12,386880.0,524746.0,NaN,NaN

In [7]:
print(activecop.shape)
print(closecop.shape)
print(finance.shape)

(28982, 28)
(6739, 28)
(109142, 46)

In [8]:
activecop.dtypes

BIZ_NO               int64
CMP_PFIX_NM         object
CMP_NM1             object
CMP_SFIX_NM         object
CMP_ENM             object
BZ_TYP              object
CMP_SCL              int64
PBCO_GB              int64
PSN_CORP_GB          int64
HDOF_BR_GB           int64
FR_IVST_CORP_YN     object
VENT_YN             object
LIST_CD             object
IND_CD_ORDR        float64
IND_CD1            float64
IND_CD2            float64
IND_CD3            float64
PB_ORG_TYP           int64
MDSCO_PRTC_YN       object
HDOF_CMP_CD        float64
ESTB_DATE          float64
ESTB_GB              int64
LIST_DATE          float64
MN_BIZ_CONT         object
NATN_NM             object
HOMEPAGE_URL        object
CEO_NM              object
EMP_CNT            float64
dtype: object

* BIZ_NO	사업자등록번호
* CMP_PFIX_NM	기업접두명
* CMP_NM	기업명
* CMP_SFIX_NM	기업접미명
* CMP_ENM	기업영문명
* BZ_TYP	업종
* CMP_SCL	기업규모
* PBCO_GB	공기업구분 1.공기업 2.일반기업
* PSN_CORP_GB	개인법인구분 1.법인 2.개인
* HDOF_BR_GB	본점지점구분 1.본점 2.지점
* FR_IVST_CORP_YN	국외투자법인여부
* VENT_YN	벤처기업여부
* LIST_CD	상장코드
* IND_CD_ORDR	산업코드차수
* IND_CD1	산업코드1
* IND_CD2	산업코드2
* IND_CD3	산업코드3
* PB_ORG_TYP	공공기관유형
* MDSCO_PRTC_YN	중견기업보호여부
* HDOF_CMP_CD	본점기업코드
* ESTB_DATE	설립일자
* ESTB_GB	설립구분
* LIST_DATE	상장일자
* MN_BIZ_CONT	주요사업내용
* NATN_NM	국가명
* HOMEPAGE_URL	홈페이지URL
* CEO_NM	대표자명
* EMP_CNT	직원수

In [9]:
closecop.dtypes

BIZ_NO               int64
CMP_PFIX_NM         object
CMP_NM              object
CMP_SFIX_NM         object
CMP_ENM             object
BZ_TYP              object
CMP_SCL              int64
PBCO_GB              int64
PSN_CORP_GB          int64
HDOF_BR_GB           int64
FR_IVST_CORP_YN     object
VENT_YN             object
LIST_CD             object
IND_CD_ORDR        float64
IND_CD1            float64
IND_CD2            float64
IND_CD3            float64
PB_ORG_TYP           int64
MDSCO_PRTC_YN       object
HDOF_CMP_CD        float64
ESTB_DATE          float64
ESTB_GB              int64
LIST_DATE          float64
MN_BIZ_CONT         object
NATN_NM             object
HOMEPAGE_URL        object
CEO_NM              object
EMP_CNT            float64
dtype: object

* BIZ_NO	사업자등록번호
* END_DATE	종료일자
* STRT_DATE	시작일자
* CLSBZ_GB	휴폐업구분
* STAT_OCR_DATE	상태발생일자

In [10]:
finance.dtypes

사업자번호             int64
결산년월              int64
유동자산            float64
매출채권            float64
비유동자산           float64
유형자산            float64
자산총계            float64
유동부채            float64
비유동부채           float64
부  채  총  계      float64
자본금             float64
이익잉여금(결손금）      float64
자본총계            float64
매출액             float64
판매비와관리비         float64
영업이익（손실）        float64
법인세비용차감전순손익     float64
법인세비용           float64
당기순이익(손실)       float64
기업순이익률(%)       float64
유보액/총자산(%)      float64
유보액/납입자본(%)     float64
매출액총이익률(%)      float64
매출액영업이익률(%)     float64
매출액순이익률(%)      float64
수지비율(%)         float64
경상수지비율          float64
영업비율(%)         float64
금융비용대매출액비율(%    float64
금융비용대부채비율(%)    float64
금융비용대총비용비율(%    float64
부채비율(%)         float64
차입금의존도(%)       float64
자기자본비율(%)       float64
순운전자본비율(%)      float64
유동부채비율(%)       float64
비유동부채비율(%)      float64
부채총계대 매출액(%)    float64
총자본회전율(회)       float64
재고자산회전율(회)      float64
매출채권회전율(회)      float64
매입채무회전율(회)      float64
미수금             float64
매출원가            float64
무형자산            float64
재고자산            float64
dtype: object

In [11]:
# null값 확인
activecop.isnull().sum()

BIZ_NO                 0
CMP_PFIX_NM        10402
CMP_NM1                0
CMP_SFIX_NM        19813
CMP_ENM               17
BZ_TYP                 0
CMP_SCL                0
PBCO_GB                0
PSN_CORP_GB            0
HDOF_BR_GB             0
FR_IVST_CORP_YN        0
VENT_YN                0
LIST_CD            28893
IND_CD_ORDR           10
IND_CD1               11
IND_CD2            27782
IND_CD3            28719
PB_ORG_TYP             0
MDSCO_PRTC_YN          0
HDOF_CMP_CD        26075
ESTB_DATE           1074
ESTB_GB                0
LIST_DATE          28823
MN_BIZ_CONT          163
NATN_NM            27337
HOMEPAGE_URL       11228
CEO_NM                 1
EMP_CNT              734
dtype: int64

In [12]:
# null값 확인
closecop.isnull().sum()

BIZ_NO                0
CMP_PFIX_NM        1894
CMP_NM                0
CMP_SFIX_NM        5453
CMP_ENM              44
BZ_TYP                0
CMP_SCL               0
PBCO_GB               0
PSN_CORP_GB           0
HDOF_BR_GB            0
FR_IVST_CORP_YN       0
VENT_YN               0
LIST_CD            6693
IND_CD_ORDR           5
IND_CD1             150
IND_CD2            6656
IND_CD3            6728
PB_ORG_TYP            0
MDSCO_PRTC_YN         0
HDOF_CMP_CD        5288
ESTB_DATE           565
ESTB_GB               0
LIST_DATE          6690
MN_BIZ_CONT         168
NATN_NM            6595
HOMEPAGE_URL       4614
CEO_NM                1
EMP_CNT             688
dtype: int64

In [13]:
activecop['MN_BIZ_CONT'].value_counts()

주택건설업                           242
부동산 임대업                         229
부동산 개발업                         208
건축공사업                           154
자동차부품 제조업                       151
                               ...
철구조물, 금속구조제 제조 및 철구조물 설비공사 등      1
신문,광고                             1
태양광 발전, 대여, 온라인 플랫폼 외             1
증권 중개업                            1
토목관련설계                            1
Name: MN_BIZ_CONT, Length: 20005, dtype: int64

## 데이터 병합

In [17]:
finance.rename(columns={'사업자번호':'BIZ_NO'}, inplace=True)
finance.dtypes

BIZ_NO            int64
결산년월              int64
유동자산            float64
매출채권            float64
비유동자산           float64
유형자산            float64
자산총계            float64
유동부채            float64
비유동부채           float64
부  채  총  계      float64
자본금             float64
이익잉여금(결손금）      float64
자본총계            float64
매출액             float64
판매비와관리비         float64
영업이익（손실）        float64
법인세비용차감전순손익     float64
법인세비용           float64
당기순이익(손실)       float64
기업순이익률(%)       float64
유보액/총자산(%)      float64
유보액/납입자본(%)     float64
매출액총이익률(%)      float64
매출액영업이익률(%)     float64
매출액순이익률(%)      float64
수지비율(%)         float64
경상수지비율          float64
영업비율(%)         float64
금융비용대매출액비율(%    float64
금융비용대부채비율(%)    float64
금융비용대총비용비율(%    float64
부채비율(%)         float64
차입금의존도(%)       float64
자기자본비율(%)       float64
순운전자본비율(%)      float64
유동부채비율(%)       float64
비유동부채비율(%)      float64
부채총계대 매출액(%)    float64
총자본회전율(회)       float64
재고자산회전율(회)      float64
매출채권회전율(회)      float64
매입채무회전율(회)      float64
미수금             float64
매출원가            float64
무형자산            float64
재고자산            float64
dtype: object

In [4]:
finance.isnull().sum()

사업자번호               0
결산년월                0
유동자산              999
매출채권            18010
비유동자산            2025
유형자산             7244
자산총계              989
유동부채             1144
비유동부채           11260
부  채  총  계       1070
자본금              1029
이익잉여금(결손금）       1273
자본총계              997
매출액              5408
판매비와관리비          1375
영업이익（손실）         1096
법인세비용차감전순손익      1280
법인세비용           35684
당기순이익(손실)        1049
기업순이익률(%)          33
유보액/총자산(%)        127
유보액/납입자본(%)       133
매출액총이익률(%)        660
매출액영업이익률(%)       659
매출액순이익률(%)        661
수지비율(%)           159
경상수지비율           5277
영업비율(%)           659
금융비용대매출액비율(%     2135
금융비용대부채비율(%)       94
금융비용대총비용비율(%     1743
부채비율(%)           121
차입금의존도(%)         376
자기자본비율(%)         119
순운전자본비율(%)        119
유동부채비율(%)         132
비유동부채비율(%)        993
부채총계대 매출액(%)      624
총자본회전율(회)          15
재고자산회전율(회)         14
매출채권회전율(회)       2068
매입채무회전율(회)       3376
미수금             27548
매출원가            17769
무형자산            53849
재고자산            29366
dtype: int64

In [20]:
activeall = pd.merge(activecop, finance, on='BIZ_NO')
print(activeall.shape)
activeall.head()

(98905, 73)

,BIZ_NO,CMP_PFIX_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,비유동부채비율(%),부채총계대 매출액(%),총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,4.291190e+02,63.409,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,100333.0,15540298.0,25000.0,59170.0
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,9.320000e+01,40.000,1.746000e+00,1.039200e+01,3.128200e+01,4.713400e+01,433886.0,16447369.0,NaN,1792159.0
2,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,1.042480e+02,70.350,1.088000e+00,6.019000e+00,1.138500e+01,1.269100e+01,445094.0,12997964.0,NaN,2810573.0
3,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,8.800100e+01,62.127,1.074000e+00,5.800000e+00,1.114000e+01,1.271000e+01,429334.0,13672044.0,208.0,2324076.0
4,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,1.000000e+12,20.713,2.381000e+00,1.000000e+12,2.290700e+01,9.378100e+01,165.0,10562108.0,1797.0,NaN

In [27]:
# 사용할 칼럼만 불러오기
# 사업자번호, 기업명, 기업규모, 공기업, 본점지점구분, 국외투자법인여부, 설립일자, 상장일자,
# 홈페이지url, 직원수

activeall = activeall[['BIZ_NO', 'CMP_NM1', 'CMP_SCL', 'PBCO_GB', 'HDOF_BR_GB', 'FR_IVST_CORP_YN', 
                      'ESTB_DATE', 'LIST_DATE', 'HOMEPAGE_URL', 'EMP_CNT',
                      '결산년월', '매출채권', '자산총계', '부  채  총  계', '자본금', '자본총계',
                      '매출액', '영업이익（손실）', '당기순이익(손실)', '기업순이익률(%)',
                      '매출액총이익률(%)', '매출액영업이익률(%)', '매출액순이익률(%)',
                      '금융비용대매출액비율(%', '금융비용대부채비율(%)', '부채비율(%)',
                      '자기자본비율(%)', '유동부채비율(%)', '비유동부채비율(%)', '부채총계대 매출액(%)',
                      '미수금', '매출원가' ]]
print(activeall.shape)
activeall.head()

(98905, 32)

,BIZ_NO,CMP_NM1,CMP_SCL,PBCO_GB,HDOF_BR_GB,FR_IVST_CORP_YN,ESTB_DATE,LIST_DATE,HOMEPAGE_URL,EMP_CNT,...,매출액순이익률(%),금융비용대매출액비율(%,금융비용대부채비율(%),부채비율(%),자기자본비율(%),유동부채비율(%),비유동부채비율(%),부채총계대 매출액(%),미수금,매출원가
0,1138111739,한일가스산업,2,2,1,N,19660419.0,NaN,www.hanilgas.com,43.0,...,-4.118,0.323,1.000000e+12,846.700,10.563,417.582,4.291190e+02,63.409,100333.0,15540298.0
1,2078132193,엠피아이,2,2,1,N,19910806.0,NaN,www.mastercnd.co.kr,35.0,...,4.300,0.900,2.400000e+00,186.800,34.900,93.500,9.320000e+01,40.000,433886.0,16447369.0
2,2078132193,엠피아이,2,2,1,N,19910806.0,NaN,www.mastercnd.co.kr,35.0,...,1.017,1.149,1.842000e+00,233.650,29.972,129.403,1.042480e+02,70.350,445094.0,12997964.0
3,2078132193,엠피아이,2,2,1,N,19910806.0,NaN,www.mastercnd.co.kr,35.0,...,2.536,1.076,1.687000e+00,203.378,32.962,115.377,8.800100e+01,62.127,429334.0,13672044.0
4,1318167565,도영운수,2,2,1,N,20011030.0,NaN,transport@naver.com,149.0,...,-1.951,0.002,1.000000e-02,105.162,48.742,105.162,1.000000e+12,20.713,165.0,10562108.0

* 영업이익증가율, 자기자본비율증가율, 부채비율증가율, 고정비용증가율을 어떻게 생성하면 좋을까?
* 영업이익대비이자보상비율증가율 = 영업이익/이자 * 100 -> 이자가 없음